<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Stegasauras-Encode</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="static/img/jumpy_dino3.gif" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
   
  <!-- Bootstrap CSS File -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- static/libraries CSS Files -->
  <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Stegasauras
    Theme URL: https://bootstrapmade.com/Stegasauras-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>Stegasauras</span></a></h1> -->
        <a href="#intro" class="scrollto" style="font-family: 'Carter One', cursive;position: relative;right: 1rem;"><img src="static/img/jumpy_dino3.gif" alt="" class="img-fluid" style="height:4.5rem; width:6rem;position: relative;bottom: 1.2rem;"><p style="position: relative;bottom:4.3rem;left:6.3rem;font-size:1.6rem;color:#444;">STEGASAURAS</p></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/encode">Encoder</a></li>
          <li><a href="/decode">Decoder</a></li>
          
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix" style="padding-top: 7rem;padding-bottom: 0rem;">
    <header class="section-header">
        <h3 style="color: aliceblue;">Encoder</h3>
        <p style="color: aliceblue;">Steganographic encoder uses steganography techniques to hide a secret message in an image</p>
      </header>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Steps</h3>         
        
        </header>

        <div class="row about-container">

          <div class="col-lg-6" style="margin: auto;">
            
            <div class="icon-box wow fadeInUp" style="padding-bottom: 15px;">
              <div class="icon1"><i class="fa fa-check"></i></div>
              <p class="description" style="margin-left: 40px;">Upload an image</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s" style="padding-bottom: 15px;">
              <div class="icon1"><i class="fa fa-check"></i></div>
              <p class="description" style="margin-left: 40px;">Enter the message to be hidden and press "Encode"</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s" style="padding-bottom: 15px;">
              <div class="icon1" ><i class="fa fa-check"></i></div>
              <p class="description" style="margin-left: 40px;">Wait till the encrypted text, the binary representation of the cipher, normalized image and the final image are generated</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s" style="padding-bottom: 15px;">
                <div class="icon1" ><i class="fa fa-check"></i></div>
                <p class="description" style="margin-left: 40px;">Press "Download Image" to download the final image</p>
              </div>

          </div>

         
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      {% if flag == 0 %}
      <div class="container">
        <div class="container-fluid">

            <div class="section-header">
              <h3>Encode</h3>
            </div>
    
            <div class="row wow fadeInUp">
               <div class="col-lg-12">
               <div class="form">                  
                  <div id="errormessage"></div>
                  <form method="post" role="form" action="{{ url_for('encode') }}" enctype = "multipart/form-data">
                    <div class="form-row">
                      <div class="form-group col-lg-12">
                        <input type="file" name="file" class="form-control" id="file" data-rule="required" data-msg="Please upload an image" style="height: 2.75rem;"/>
                        <div class="validation"></div>
                      </div>                      
                    </div>                    
                    <div class="form-group">
                      <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please enter your message" placeholder="Message"></textarea>
                      <div class="validation"></div>
                    </div>
                    <div class="text-center"><button class= "btn-services1 scrollto" type="submit" title="Encode">Encode</button></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
             

      </div>
      {% endif %}

      {% if flag == 1 %}
      <div class="container justify-content-center">
          <p class="text-center"> Original Image : </p> 
            <img class="justify-content-center" src="data:image/jpg;base64,{{ string }}" alt="" style="width: 30%; height: 30%;"/>
      </div>
    {% endif %}
      
    </section><!-- #services -->   
    
    
  </main>

 <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-8 col-md-6 footer-info">
            <h3>Stegasauras</h3>
            <p style="padding-right: 8rem;">Stegasauras provides services for steganography in images. Stegasauras gives you the possibility to specify a custom text message that you want to encrypt and hide it in a custom picture and also provides services to decode a hidden message from an image.</p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright Stegasauras. All Rights Reserved.
      </div>      
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript static/libraries -->
  <script src="static/lib/jquery/jquery.min.js"></script>
  <script src="static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/lib/easing/easing.min.js"></script>
  <script src="static/lib/mobile-nav/mobile-nav.js"></script>
  <script src="static/lib/wow/wow.min.js"></script>
  <script src="static/lib/waypoints/waypoints.min.js"></script>
  <script src="static/lib/counterup/counterup.min.js"></script>
  <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="static/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="static/lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="static/js/main.js"></script>

</body>
</html>
