<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Stegasauras</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="static/img/jumpy_dino3.gif" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">
   <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
   
  <!-- Bootstrap CSS File -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- static/libraries CSS Files -->
  <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>Stegasauras</span></a></h1> -->
        <a href="#intro" class="scrollto" style="font-family: 'Carter One', cursive;position: relative;right: 1rem;"><img src="static/img/jumpy_dino3.gif" alt="" class="img-fluid" style="height:4.5rem; width:6rem;position: relative;bottom: 1.2rem;"><p style="position: relative;bottom:4.3rem;left:6.3rem;font-size:1.6rem;color:#444;">STEGASAURAS</p></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/encode">Encoder</a></li>
          <li><a href="/decode">Decoder</a></li>
          
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="static/img/illustration-6.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>Discover the art of hiding seceret messages within an image</h2>
      
          <a href="#services" class="btn-services scrollto">Get Started</a>
        
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p style="width: 59%;">Stegasauras provides services for steganography in images. Stegasauras gives you the possibility to specify a custom text message that you want to encrypt and hide it in a custom picture and also provides services to decode a hidden message from an image. </p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
              Image steganography is the process of hiding a secret message within an image such that someone can not know the presence or contents of the hidden message. The purpose of Steganography is to maintain secret communication between two parties.
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-check"></i></div>
              <p class="description">Stegasauras is an application built specifically for helping users hide sensitive data inside images in only a few steps. Its simple interface offers only a few configuration settings to tinker with.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-check"></i></div>
              <p class="description">Since it doesn’t require much computer knowledge to work with this utility, even beginners can master the entire process of encoding and decoding messages with minimum effort.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-check"></i></div>
              <p class="description">Stegasauras accomplishes a task very quickly and without errors throughout the entire process. It remains light on the system resources, so it doesn’t burden computer performance.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="static/img/illustration-8.jpg" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </section><!-- #about -->

       <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Services</h3>
          <p>Our steganography software tool allows a user to embed hidden data inside an image or video, and later extract that data.</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-locked-outline" style="color: #ff689b;position:relative;left: 1.5rem;bottom: 1rem;"></i></div>
              <h4 class="title"><a href="">Encoder</a></h4>
              <p class="description">With our steganographic encoder you will be able to conceal any text message in an image in a secure way and send it without suspicion.</p>
              <a href="#services" class="btn-services scrollto">Encode</a>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-unlocked-outline" style="color: #e9bf06;position:relative;left: 1.5rem;bottom: 1rem;"></i></div>
              <h4 class="title"><a href="">Decoder</a></h4>
              <p class="description">With our steganographic decoder you will be able to decode a hidden message from a steganographic image in a secure way.</p>
              <a href="#services" class="btn-services scrollto">Decode</a>
            </div>
          </div>
        </div>
      </div>
    </section><!-- #services -->
  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-8 col-md-6 footer-info">
            <h3>Stegasauras</h3>
            <p style="padding-right: 8rem;">Stegasauras provides services for steganography in images. Stegasauras gives you the possibility to specify a custom text message that you want to encrypt and hide it in a custom picture and also provides services to decode a hidden message from an image.</p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright Stegasauras. All Rights Reserved.
      </div>      
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript static/libraries -->
  <script src="static/lib/jquery/jquery.min.js"></script>
  <script src="static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/lib/easing/easing.min.js"></script>
  <script src="static/lib/mobile-nav/mobile-nav.js"></script>
  <script src="static/lib/wow/wow.min.js"></script>
  <script src="static/lib/waypoints/waypoints.min.js"></script>
  <script src="static/lib/counterup/counterup.min.js"></script>
  <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="static/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="static/lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>
  <!-- Template Main Javascript File -->
  <script src="/static/js/main.js"></script>
</body>
</html>
